.hero-layout{
    background-image: url("../../assets/images/hero-background.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    min-height: 53.9375rem;
    clip-path: polygon(51.07% 93.41%, 0px 82%, 0px 0px, 100% 0px, 100% 82%);
    max-width: 90rem;
    margin-inline: auto;
}