*,::before,::after{
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{
    margin: 0;
}

h1,h2,h3,h4,button,input,label{
    line-height: 1.1;
}

body{
    padding: 0;
    height: 100%;
}

ul:where([role="list"]),ol:where([role="list"]){
    list-style: none;
}

a:not([class]){
    text-decoration-skip-ink: auto;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

input,button,textarea,select{
    font: inherit;
}

@media(prefers-reduced-motion:reduce){
    html:focus-within{
        scroll-behavior: auto;
    }

    *,*::before,*::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}